USE [master]
GO
/****** Object:  Database [LeaseManagementDB]    Script Date: 28-02-2026 12.43.01 PM ******/
CREATE DATABASE [LeaseManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LeaseManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LeaseManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LeaseManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LeaseManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LeaseManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LeaseManagementDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 28-02-2026 12.43.01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaseDetails]    Script Date: 28-02-2026 12.43.01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaseDetails](
	[LeaseID] [int] IDENTITY(1,1) NOT NULL,
	[LesseeID] [int] NOT NULL,
	[AreaDivision] [int] NULL,
	[TotalArea] [varchar](50) NULL,
	[PaymentStatus] [varchar](100) NULL,
	[DateFrom] [date] NULL,
	[DateTo] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[LeaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessees]    Script Date: 28-02-2026 12.43.01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessees](
	[LesseeID] [int] IDENTITY(1,1) NOT NULL,
	[LesseeName] [varchar](200) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[IDNumber] [varchar](50) NULL,
	[ContactNo] [varchar](50) NULL,
	[Address] [varchar](500) NULL,
	[EmailID] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[LesseeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LeaseDetails]  WITH CHECK ADD FOREIGN KEY([LesseeID])
REFERENCES [dbo].[Lessees] ([LesseeID])
GO
ALTER TABLE [dbo].[Lessees]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
USE [master]
GO
